{% extends 'varsity/base.html' %}

{% block title %} Private University {% endblock %}

{% block heading %} Welcome to {{speciality}} University {% endblock %}

{% block content %}
<div class="container">


<table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Nickname</th>
        <th scope="col">Foundation Year</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
        {% for i in var %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{% url 'Individual' i.univarsity_nickname %}">{{i.univarsity_name}}</a></td>
        <td>{{i.univarsity_nickname}}</td>
        <td>{{i.foundation}}</td>
        <td>{{i.category}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}